.options-button{
    margin-right: 10px;
}

.options-display{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px lightcyan;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(65, 65, 65);
}

.options{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.options > button{
    align-self: flex-start;
    margin-bottom: 10px;
}
