.constraints-display{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px lightcyan;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(65, 65, 65);
}

.allowed-characters{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.allowed-characters > div {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.constraints-display input{
    border-radius: 5px;
}

.required-characters{
    display: flex;
    flex-direction: column;
}

.required-characters > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.required-characters input{
    max-width: 100px;
}

.pw-len{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.pw-len-input{
    max-width: 100px;
}

.constraints-title{
    font-size: larger;
    border-bottom: 1px solid rgba(224, 255, 255, 0.479);
}

.constraints-display h4{
    margin-top: 6px;
    margin-bottom: 6px;
}

.req-hint{
    margin-left: 3px;
}


.hover-hint .allow-hint{
    bottom: 100%;
    left: 25%;
    margin-bottom: 1px;
}


.allowed-characters input{
    width: 100%;
}

.hover-hint .pw-hint{
    margin-left: 12px;
    top: -100%;
}

.allow-dups{
    display: flex;
    flex-direction: column;
}

.errors{
    max-height: 120px;
    overflow-y: scroll;
}

.errors > div {
    margin-bottom: 2px;
    padding-bottom: 1px;
    border-bottom: 1px dashed rgba(224, 255, 255, 0.253);
}

#dups-hint{
    max-height: 70px;
    overflow-y: scroll;
    z-index: 1;
    max-width: 300px;
    width: initial;
    bottom: -133%;
}

#pw-hint{
    max-height: 40px;
    z-index: 2;
    overflow-y: scroll;
    width: initial;
}


@media only screen and (max-width: 500px){
    .cons-label{
        /* display: none; */
        font-size: smaller;
    }

    .constraints-display h4{
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .constraints-display{
        margin-top: 4%;
        width: 75%;
        padding-top: 0px
    }

    .constraints-title{
        font-size: initial;
    }

    .constraints-display .new-gen-buttons button{
        height: 30px;
    }

    .hover-hint input + .req-hint{
        width: 60%;
    }

    .hover-hint input + .allow-hint{
        width: 80%;
        overflow-y: scroll;
        height: 19px;
    }

    .pw-len{
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .allowed-characters{
        margin-bottom: 2px;
    }

    .allowed-characters > div{
        margin-bottom: 1.5px;
    }

    .required-characters > div{
        margin-bottom: 1.5px;
    }

    .errors div{
        font-size: .7em;
    }

    .errors{
        margin-bottom: 2px;
        max-height: 30px;
        overflow-y: scroll;
    }

}


@media only screen and (max-width: 320px){
    #dups-hint{
        height: 43px;
        bottom: 18px;
        left: 121px;
    }
}
